{% load staticfiles %}
{% load site_copyright %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}">
    {% block css %}{% endblock %}

    <title>{% block title %} Books {% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Book store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_index_url' %}">Books list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book_create_url' %}">Create book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'web_request_index_url' %}">Web requests</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">{% block content %} Content block {% endblock content %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">{% copyright %}</span>
    </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
