{% extends 'layouts/main.html' %}

{% block title %}
List of books
{% endblock%}

{% block content %}
<a href="{% url 'book_create_url' %}" class="btn btn-success mb-2 float-right">Create book</a>
<table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">ISBN</th>
        <th scope="col">Authors</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.authors.all|join:", " }}</td>
        <td>{{ book.price }}$</td>
        <td><a href="{{ book.get_update_url }}">Update</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
