{% extends 'layouts/main.html' %}

{% block content %}
<h1 class="text-center">Update book: {{ book.title }}</h1>
<form method="post" action="{{ book.get_update_url }}">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
        <div class="invalid-feedback" style="display: block;">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}

{% block javascript %}
{{ form.media.js }}
{% endblock %}

{% block css %}
{{ form.media.css }}
{% endblock %}
